.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #444;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.bubble {
    background: #424242;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    width: 280px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s;
    text-align: center;
}

.bubble:hover {
    transform: scale(1.05);
    background: #4a4a4a;
}

.bubble h2 {
    margin-bottom: 10px;
}

.bubble p {
    font-size: 14px;
    color: #ccc;
}

.delete-account-btn {
    margin-top: 30px;
    padding: 8px 10px;
    background-color: #424242;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.delete-account-btn:hover {
    background-color: #4a4a4a;
}

