.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%; 
    align-items: flex-start;
    padding: 20px;
    background: #494949;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.auth-input {
    width: 95%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #3a3a3a;
    color: white;
    font-size: 16px;
}

.auth-input::placeholder {
    color: #bbb;
}

.auth-button {
    padding: 12px;
    width: 100%;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #218838;
}

.signup-header {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.yes-account {
    font-size: 16px;
    color: #ddd; 
    height: 10px;
}

.clickable-login {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    color: #ffcc00;
}

.clickable-login:hover {
    color: #ffaa00; 
}

.error-text {
    color: red;
    font-size: 14px;
}
